In [6]:
import pandas as pd
data = pd.read_csv("C://Users//PC04//Desktop//stq6014_data sains_sem1//Data/clinical_study_data.csv")
data

    age  glucose_level  HbA1c  diabetes_duration treatment_type complications
0    63          133.8    6.0                  3     medication           yes
1    76          122.6    7.6                  8      lifestyle            no
2    53           74.7    6.9                 16      lifestyle           yes
3    39          141.6    4.0                 13        insulin           yes
4    67           94.7    7.0                 18     medication           yes
..  ...            ...    ...                ...            ...           ...
95   40          122.4    6.0                 17      lifestyle            no
96   69          107.5    7.7                  3      lifestyle            no
97   42          145.7    6.3                 16        insulin            no
98   71          141.5    6.1                  4      lifestyle            no
99   77           91.5    5.2                 18     medication            no

[100 rows x 6 columns]

In [8]:
df.plot();
df.head()

NameError: name 'df' is not defined